## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [1]:
5 + 4 * 9 % (3 + 1) / 6 - 1

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

total of sqrt of even number.

In [7]:
n = int(input("Enter number: "))

if n % 2 ==0:
    print("number is even")
elif n%2 != 0:
    print("number is odd")
else:
    print("Enter a correct number")

Enter number: 4
number is even

In [11]:
l = [1,2,3,4,5,6,7,8,9,10]
l2 = []
for i in l:
    if i%2 == 0:
        l2.append(i**0.5)

print(sum(l2))

11.854408090070843

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [15]:
num = int(input("Enter a number: "))

for i in range(1, 11):
    print(i*num)

Enter a number: 5
5
10
15
20
25
30
35
40
45
50

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [2]:
l = []

for i in range(2000, 3201):
    if i%7 == 0 and i%5 != 0:
        l.append(i)
print(l)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [6]:
int_count = 0
str_count = 0
float_count = 0
None_count = 0
bool_count = 0

l = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 

for i in l:
    if type(i) == str:
        str_count += 1
    elif type(i) == int:
        int_count+= 1    
    elif type(i) == float:
        float_count+= 1
    elif type(i) == None:
        None_count += 1
    elif type(i) == bool:
        bool_count += 1

print(int_count)
print(str_count)
print(float_count)
print(None_count)
print(bool_count)

5
4
1
0
1

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [9]:
l = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 

sum_ = 0

for i in l:
    if type(i) == int:
        sum_ += i
        
print(sum_)

16

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [3]:
l = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 

str_ = []

for i in l:
    if type(i) == str:
        str_.append(i)
print(str_)

['Py', '10', 'SQL', 'John']

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [1]:
x = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 


def sum_(x:list):
    s = 0
    cnt = 0
    for i in x:
        if type(i) == int:
            s += i
        elif type(i) == str:
            cnt += 1
    print(f"sum is {s}, count of str is {cnt}")

In [2]:
sum_(x)

sum is 16, count of str is 4

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [3]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

new_list = []

for i in li:
    if i%2 != 0:
        new_list.append(i)
print(new_list)

[5, 7, 97, 77, 23, 73, 61]

In [5]:
n_li = [i for i in li if i%2 != 0]
print(n_li)

[5, 7, 97, 77, 23, 73, 61]

In [6]:
print(list(filter(lambda x: x%2 != 0, li)))

[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [12]:
num = list(map(int, input("Enter numbers separated by comma: ").split(",")))
print(num)

Enter numbers separated by comma: 1,2,3,4,5,6
[1, 2, 3, 4, 5, 6]

In [15]:
def q_stats(x:list):
    print("sum: ", sum(x))
    print("count: ", len(x))
    print("min: ", min(x))
    print("max: ", max(x))
    print("mean: ", sum(x)/len(x))

In [16]:
q_stats(num)

sum:  21
count:  6
min:  1
max:  6
mean:  3.5

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [33]:
 def area(shape, **kwargs):
        n_shape = shape.lower()
        if n_shape == "square":
            for i, j in kwargs.items():
                print(2*(j**2))
        
        elif n_shape == "rectangle":
            ar = 1
            for i, j in kwargs.items():
                ar *= j
            print(ar)
        
        elif n_shape == "circle":
            for i, j in kwargs.items():
                print((j**2)*22/7)

In [35]:
area("circle", radius=5)

78.57142857142857

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [49]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

In [51]:
list(set(l1) - set(l2))

['May', 'September', 'March']

In [61]:
def my_func(l1,l2):
    matched = sorted(list(set(l1) & set(l2)))
    only_l1 = sorted(list(set(l1) - set(l2)))
    only_l2 = sorted(list(set(l2) - set(l1)))
    d = {"matched":matched,
           "only in l1":only_l1,
           "only in l2":only_l2
        }
    for i, j in d.items():
        print(i, ":", j)

my_func(l1,l2)

matched : ['December', 'February', 'January', 'June']
only in l1 : ['March', 'May', 'September']
only in l2 : ['April', 'October']

Q13: write a UDF to check if a number is prime or not.

In [47]:
def is_prime(x):
    if x  == 2:
        print(f"{x} is a prime number")
    elif x > 2:
        if x%2 != 0:
            print(f"{x} is a prime number.")
        else:
            print(f"{x} is a not prime number.")
    elif x == 1:
        print(f"{x} is a not prime number.")
    else:
        print("Please enter a natural number")
        
is_prime(0)

Please enter a natural number

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [33]:
n = int(input("Enter a number: "))
fct = 1
for i in range(2, n+1):
    fct *= i
print(fct)

Enter a number: 8
40320

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [29]:
n = int(input("Enter a number: "))
d = {}
for i in range(1,n+1):
    d[i] = i*i
print(d)

Enter a number: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [23]:
num = list(input("Enter numbers separated by comma: ").split(","))
print(num)
print(tuple(num))

Enter numbers separated by comma: 12,34,13,23,45
['12', '34', '13', '23', '45']
('12', '34', '13', '23', '45')

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [18]:
x = input("Enter words separated by space: ")
sorted_words = ",".join(sorted(x.split(",")))
print(sorted_words)

Enter words separated by space: Akash,Jha,Chanda,Jain,Bike
Akash,Bike,Chanda,Jain,Jha

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [12]:
x = list(filter(str, input("Enter words separated by space: ").split(" ")))
n_x = sorted(x)
for i in n_x:
    print(i, end=" ")

Enter words separated by space: Akash Jha Chandra Sonu
Akash Chandra Jha Sonu

Q19. Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.
- Suppose the following input is supplied to the program: Hello world!
- Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [2]:
x = input("Enter a string: ")

up_case = 0
lo_case = 0

for i in x:
    if i == i.lower():
        lo_case += 1
    else:
        up_case += 1

print(f"Upper Case: {up_case} and lower Case: {lo_case}")

Enter a string: Akash Jha
Upper Case: 2 and lower Case: 7

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [1]:
x = input("Enter a string: ")

print(x[::-1])

Enter a string: Akash Jha
ahJ hsakA